.header {
  --header-color: #dadada;
  background-color: #fff;
  padding: 16px 32px;
  box-shadow: 0 1px 0 0 var(--header-color);
  border-bottom: 2px solid var(--header-color);
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: var(--fs-title);
  color: var(--green-teal);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    padding: 16px;
    position: sticky;
    top: 0;

    box-shadow: unset;
    border-bottom: 1px solid #0ab463;
    background-color: #fff;
    z-index: 1;
  }
}